

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
        <thead class="bg-slate-300 dark:bg-slate-700 text-xs text-gray-900 uppercase dark:text-gray-200">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Invoice
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Amounth
                </th>
                <th scope="col" class="px-6 py-3">
                    Created
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    ABCDEFGH-0001
                </th>
                <td class="px-6 py-4">
                    PAID
                </td>
                <td class="px-6 py-4">
                    $12
                </td>
                <td class="px-6 py-4">
                    21 abr 2024, 3:09 p.m.
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
