<div class="flex items-center justify-center min-h-screen">
  <div
    class="w-full max-w-lg px-10 py-8 mx-auto bg-white border-0 rounded-lg shadow-2xl"
  >
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="max-w-md mx-auto space-y-6"
      *blockUI="'load-data'"
    >
      <h2 class="text-xl text-center font-semibold text-gray-800">Reset Password</h2>
      <!-- <br />
      <h3 class="text-lg font-semibold text-gray-800">Restaurar contraseña</h3> -->

      <div>
        <label class="block py-1 text-gray-700">e-mail</label>
        <input
          formControlName="email"
          type="email"
          class="border w-full py-2 px-3 rounded shadow focus:border-green-500 focus:ring focus:ring-green-200 font-mono transition-colors"
        />

        @if (f['email'].touched && f['email'].errors) {
        <span
          class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
        >
          Correo No Válido !
        </span>
        }
      </div>
      <div class="flex flex-col gap-3 pt-3 items-center">
        <button
          class="w-full bg-primary text-white px-4 py-2 rounded-lg shadow hover:bg-primary focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-opacity-50 transition-colors"
        >
          Reset password
        </button>
        <a
          href="/#/login"
          class="text-sm text-blue-600 hover:text-blue-800 transition-colors"
          >Log In</a
        >
      </div>
    </form>
  </div>
</div>
