<!-- <aside class="bg-gradient-to-br from-gray-800 to-gray-900 -translate-x-80 fixed inset-0 z-50 my-16 ml-6  w-72 rounded-xl transition-transform duration-300 xl:translate-x-0"> -->
<aside class="fixed inset-0 z-50 my-20 ml-6 bg-blue-600 dark:bg-gray-800  w-72 rounded-xl">
  <div class="m-4">
    @for (route of routes; track route.path) {
      <app-sidebar-menu-item
        [description]="route.data!['description']"
        [icon]="route.data!['icon']"
        [title]="route.data!['title']"
        [path]="route.path!"
      />
    }
  </div>
</aside>
