<div class="flex items-center justify-center min-h-screen">
  <div
    class="w-full max-w-lg px-10 py-8 mx-auto bg-white border-0 rounded-lg shadow-2xl"
  >
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="max-w-md mx-auto space-y-6"
    >
      <!-- <img
        srcset="
          /assets/images/logomallamas400pxalto.png 400w,
          /assets/images/logomallamas200pxalto.png 200w
        "
        sizes="(max-width: 768px) 200px, 400px"
        alt="Descripción de la imagen"
        class="block mx-auto mb-6"
        style="max-width: 70%; height: auto"
      /> -->

      <h2 class="text-xl text-center font-semibold text-gray-800">ODBIA</h2>
      <br />
      <h3 class="text-lg font-semibold text-gray-800">Crear una cuenta</h3>

      <div>
        <label class="block py-1 text-gray-700">Email</label>
        <input
          formControlName="email"
          type="email"
          class="border w-full py-2 px-3 rounded shadow focus:border-green-500 focus:ring focus:ring-green-200 font-mono transition-colors"
        />

        @if (f['email'].touched && f['email'].errors) {
        <span
          class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
        >
          Email No Válido !
        </span>
        }
      </div>
      <div>
        <label class="block py-1 text-gray-700">Nombre Completo</label>
        <input
          formControlName="fullname"
          type="text"
          class="border w-full py-2 px-3 rounded shadow focus:border-green-500 focus:ring focus:ring-green-200 font-mono transition-colors"
        />

        @if (f['fullname'].touched && f['fullname'].errors) {
        <span
          class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
        >
          Nombre Completo No Válido !
        </span>
        }
      </div>
      <div>
        <label class="block py-1 text-gray-700">Contraseña</label>
        <input
          formControlName="password"
          type="password"
          class="border w-full py-2 px-3 rounded shadow focus:border-green-500 focus:ring focus:ring-green-200 font-mono transition-colors"
        />

        @if (f['password'].touched && f['password'].errors) {
        <span
          class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"
        >
          Constraseña No Válida !
        </span>
        }
      </div>
      <div class="flex flex-col gap-3 items-center">
        @if (!isLoading()) {
        <button
          class="w-full bg-primary text-white px-4 py-2 rounded-lg shadow hover:bg-primary focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-opacity-50 transition-colors"
        >
          Continuar
        </button>

        } @else {

        <div
          class="w-full text-center bg-primary text-white px-4 py-2 rounded-lg shadow hover:bg-primary focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-opacity-50 transition-colors"
        >
          <svg
            aria-hidden="true"
            role="status"
            class="inline w-4 h-4 me-3 text-white animate-spin"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="#E5E7EB"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentColor"
            />
          </svg>
          Iniciando...
        </div>
        }
      </div>
    </form>

    <div class="flex flex-col gap-3 pt-3 items-center">
      <div id="google-btn" class="w-full">Continuar con Google</div>

      <div class="flex flex-row justify-between">
        <label class="text-sm block text-gray-700 pr-1"
          >¿Ya tienes cuenta?
        </label>
        <a
          href="/#/auth/login"
          class="text-sm text-green-600 hover:text-green-800 transition-colors"
          >Iniciar sesión</a
        >
      </div>
    </div>
  </div>
</div>
