<div class="min-h-screen flex ">
    <div class="max-w-lg w-full">

        <form [formGroup]="form" (ngSubmit)="onSave()" class="space-y-6 bg-white dark:bg-gray-800 p-8 rounded-lg">
            <h1 class="font-extrabold text-lg text-left">Your profile</h1>
            <div>
                <label for="fullName" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Name</label>
                <input type="text" id="fullName" formControlName="fullName" class="mt-1 block w-full p-3 dark:bg-gray-700 border dark:border-gray-600 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
                @if (isValidField('fullName')) {
                    <p class="text-xs text-red-600 dark:text-red-500">
                        {{getFieldError('fullName')}}</p>
                    }
            </div>
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Email address</label>
                <input readonly type="email" id="email" formControlName="email"  class="mt-1 block w-full p-3 dark:bg-gray-700 border dark:border-gray-600 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50">
            </div>
            
            <button type="submit" class=" py-3 px-4 text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 rounded-md text-sm font-medium">Save</button>
        </form>
    </div>
</div>
