<div class="flex items-center justify-center min-h-screen">
  <div
    class="w-full max-w-lg px-10 py-8 mx-auto bg-white border-0 rounded-lg shadow-2xl"
  >
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="max-w-md mx-auto space-y-6"
      *blockUI="'load-data'"
    >
      <!-- <img
        src="/assets/images/logomallamas400pxalto.png"
        srcset="
          /assets/images/logomallamas400pxalto.png 400w,
          /assets/images/logomallamas200pxalto.png 200w
        "
        sizes="(max-width: 768px) 200px, 400px"
        alt="Descripción de la imagen"
        class="block mx-auto mb-6"
        style="max-width: 70%; height: auto"
      /> -->

      <h2 class="text-xl text-center font-semibold text-gray-800">ODBIA</h2>
      <br />
      <h3 class="text-lg font-semibold text-gray-800">Restaurar contraseña</h3>
      <div>
        <label class="block py-1 text-gray-700">Nueva Contraseña</label>
        <input
          formControlName="password"
          type="password"
          class="border w-full py-2 px-3 rounded shadow focus:border-green-500 focus:ring focus:ring-green-200 font-mono transition-colors"
        />

        @if (isValidField('password')) {
        <p class="text-xs text-red-600 dark:text-red-500">
          {{ getFieldError("password") }}
        </p>
        }
      </div>
      <div>
        <label class="block py-1 text-gray-700">Confirmar Contraseña</label>
        <input
          formControlName="passwordConfirm"
          type="password"
          class="border w-full py-2 px-3 rounded shadow focus:border-green-500 focus:ring focus:ring-green-200 font-mono transition-colors"
        />

        <!-- @if (f['passwordConfirm'].touched && f['passwordConfirm'].errors) {
                        <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                            Contraseña No Válida !
                        </span>
                    } -->
        @if (isValidField('passwordConfirm')) {
        <p class="text-xs text-red-600 dark:text-red-500">
          {{ getFieldError("passwordConfirm") }}
        </p>
        }
      </div>
      <div class="flex flex-col gap-3 pt-3 items-center">
        <button
          class="w-full bg-green-600 text-white px-4 py-2 rounded-lg shadow hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-opacity-50 transition-colors"
        >
          Restaurar contraseña
        </button>
        <a
          href="/#/auth/login"
          class="text-sm text-green-600 hover:text-green-800 transition-colors"
          >Iniciar Sesión</a
        >
      </div>
    </form>
  </div>
</div>
